<form action="/addItem" method="post">
    <div>
        <h4>Name</h4>
        <input class="form-control" name="name">
    </div>
    <div>
        <h4>Image URL</h4>
        <input class="form-control" name="imageURL">
    </div>
    <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
</form>