<h3>Add items to your pantry!</h3>
<form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" class="form-control" type="text" name="myCountry" placeholder="Search for an ingredient...">
    </div>
    <!-- <input class="btn btn-secondary" type="submit"> -->
  </form>