.vaultgrid {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

#foodgridcontainer {
    overflow-y: auto;
}

#personalGrid {
    display: grid;
    grid-template-columns: 30px 100px auto;
    align-items: center;
}
.recipelist{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 70px 200px;
}
div.navbar-text.navbar-right.d-inline > div > div > a:hover {
    color: #343a40;
}