.vaultgrid {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

#foodgridcontainer {
    overflow-y: auto;
}

#personalGrid {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}