<h3>Add items to your pantry!</h3>
<p style="color: red;">That item does not exist!</p>
<form autocomplete="off" action="/pantry/add" method="post">
  <div class="input-group mb-3">
    <input class="form-control" type="text" id="items" name="items" list="items-list">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Add Item</button>
    </div>
  </div>
</form>

<datalist id="items-list">
  <% for (item in items){ %>
    <option>
      <%= items[item] %>
    </option>
    <% } %>
</datalist>