<h2>Your Pantry</h2>
<div id="items" style="overflow-y: auto;">
    <% if (currentUser.pantry.length !=0){ %>
        <p><a href="/pantry/add">Add Items</a></p>
        <div id="personalGrid">
            <% for (item in pPantry){ %>
                <div>
                    <img width="64px" src="<%= pPantry[item].imageURL %>">
                </div>
                <h5>
                    <%= pPantry[item].name %>
                </h5>
                <% }%>
        </div>
        <%}else{ %>
            <h4>There are no items in your pantry! Add some <a href="/pantry/add">here</a></h4>
            <% } %>
</div>
<script>
    document.getElementById("items").style.height = String(window.innerHeight*.75) + "px"
</script>